In [25]:
## Phase de prétraitement :
## infos sur les données
import pandas as pd
df=pd.read_csv("titanic-passengers.csv",sep=";")
df
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,343,No,2,"Collander, Mr. Erik Gustaf",male,28.0,0,0,248740,13.0000,NaN,S
1,76,No,3,"Moen, Mr. Sigurd Hansen",male,25.0,0,0,348123,7.6500,F G73,S
2,641,No,3,"Jensen, Mr. Hans Peder",male,20.0,0,0,350050,7.8542,NaN,S
3,568,No,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,29.0,0,4,349909,21.0750,NaN,S
4,672,No,1,"Davidson, Mr. Thornton",male,31.0,1,0,F.C. 12750,52.0000,B71,S

In [31]:
## les infos manquantes 

import pandas as pd
df=pd.read_csv("titanic-passengers.csv",sep=";")
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [36]:
import pandas as pd
df=pd.read_csv("titanic-passengers.csv",sep=";")
df["age"].fillna(df["age"].mean(), inplace=True)

KeyError: 'age'

In [37]:
## 2. Phase de visualisation
def plot_correlation_map( df ):

    corr = df.corr()

    s , ax = plt.subplots( figsize =( 12 , 10 ) )

cmap = sns.diverging_palette( 220 , 10 , as_cmap = Vrai )

    s = sns.heatmap(

Corr.

        cmap = cmap,

square=Vrai,

        cbar_kws={ 'shrink' : .9 }, 

        ax=ax, 

annot = Vrai,

        annot_kws = { 'fontsize' : 12 }

        )

IndentationError: unexpected indent (3087462494.py, line 10)